.NoLiftButton{
    background-color: #ea00008c  !important;
    height: 100% !important;
    width: 45% !important;
    border: none !important;
    margin-right: 5%;
}
.GoodLiftButton{
    background-color: #0080008a !important;
    height: 100% !important;
    width: 45% !important;
    border: none !important;
    margin-right: 5%;
}

.GoodLiftButton:hover{
    background-color: #008000dc !important;
}
.NoLiftButton:hover{
    background-color: #ea0000bb  !important;
}